:root {
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #6cace4;
  --fondo: #696060;
  --base: #b6aeae; 
  --cyan: #3eb8f2;
  --line: rgba(245, 245, 245, 0.7);
  --divider: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;
  height: 100vh;
  min-width: 320px;
}

li {
  list-style-type: none;
}

p {
  color: var(--base);
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

section {
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

@media (min-width: 768px) {
  section {
    max-width: 1200px;
  }
}