.navbar--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.navbar--top .navbar__logo {
  max-width: 60px;
}

.navbar--top > ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 120%;
}

.navbar--top button {
  background: none;
  border: none;
  color: inherit;
  transform: scale(1.5);
}

.navbar--top a {
  transition: all 0.3s ease-in-out;
}

.navbar--top a:hover {
  color: var(--highlight);
}

.navbar--top li {
  display: none;
}

.navbar--top li#burger,
.navbar--top li#themeBtn {
  display: block;
}

@media screen and (min-width: 576px) {
  .navbar--top .navbar__logo {
    max-width: 100%;
  }
}


@media screen and (min-width: 768px) {
  .navbar--top li {
    display: block;
  }
  
  .navbar--top li#burger {
    display: none;
  }
}

/* Light */

.light .navbar--top .navbar__logo img {
  filter: invert(.9);
}