.experience {
  margin: 2rem 0;
  font-size: 0.8rem;
  gap: 0;
}
.e-tabs {
  display: flex;
  gap: 10px;
}
.e-tab {
  color: #dedede;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--line);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.e-tabs li:hover {
  background-color: #545454;
  color: #d2d2d2;
}
.e-tabs li.selected {
  color: #458ace;
  cursor: default;
  background: #333;
}
.e-contents {
  width: 100%;
  border: 1px solid var(--line);
  border-top: none;
}
.e-content {
  display: none;
  padding: 1em;
  background-color: #333;
  width: 100%;
  color: #b7b7b7;
  line-height: 1.3em;
  position: relative;
}
.e-content.selected {
  display: block;
}
.e-content div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.e-content div span {
  font-style: italic;
}