footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  z-index: 9;
  border-top: 1px solid var(--line);
  margin-top: 8rem;
  color: var(--base);
}

footer > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

footer .contact {
  color: var(--base);
  justify-content: flex-start ;
  gap: 5px;
  align-items: center;
}

footer .copyright {
  flex-basis: 100%;
  order: -1;
  color: var(--fondo);
  text-align: center;
  font-size: 80%;
}

@media screen and (min-width:1200px) {
  footer .copyright {
    flex-basis: initial;
    order: initial;
  }
}

.light footer {
  background-color: var(--primary-light);
}