footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
  flex-wrap: wrap;
  z-index: 9;
  border-top: 1px solid var(--line);
  margin-top: 8rem;
}

@media (max-width: 770px) {
  footer {
    padding: 0 2rem;
    gap: 2rem;
  }
}

footer > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) and (min-height: 1080px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}